
<div class="container dashboard">



<div class="row">
  <div class="request-new grid-tile col-lg-6">
    {{> requests/new}}
  </div>

 <div class="requests-list grid-tile col-lg-6">
    {{> requests/index}}
  </div>

</div>

<div class="row">

</div>


</div>



