
<div class="container dashboard">



<div class="row">
  <div class="request-new col-lg-6">
    {{> requests/new}}
  </div>

  <div class="col-lg-3">
    Stats box
  </div>

</div>

<div class="row">
 <div class="requests-list col-lg-6">
    {{> requests/index}}
  </div>
</div>


</div>



