/* line 3, ../../app/assets/stylesheets/app.scss */
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  background: #ecebe8;
}

/* line 9, ../../app/assets/stylesheets/app.scss */
.sans {
  font-family: 'Open Sans', sans-serif;
}

/* line 13, ../../app/assets/stylesheets/app.scss */
.grid-tile {
  background: #fff;
  padding: 25px;
  margin-bottom: 16px;
}

/* line 1, ../../app/assets/stylesheets/_home.scss */
.home-intro {
  position: relative;
  color: #F9F9F9;
  background-color: #333;
}
/* line 6, ../../app/assets/stylesheets/_home.scss */
.home-intro .banner {
  text-align: center;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  min-height: 25em;
}
/* line 14, ../../app/assets/stylesheets/_home.scss */
.home-intro .banner.img-1 {
  background-image: url("../img/splash-1.jpg");
}
/* line 18, ../../app/assets/stylesheets/_home.scss */
.home-intro .banner.img-2 {
  background-image: url("../img/splash-2.jpg");
}
/* line 22, ../../app/assets/stylesheets/_home.scss */
.home-intro .banner .gradient {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  background: -moz-linear-gradient(top, rgba(69, 72, 77, 0) 0%, rgba(34, 34, 34, 0.15) 15%, rgba(0, 0, 0, 0.9) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(69, 72, 77, 0)), color-stop(15%, rgba(34, 34, 34, 0.15)), color-stop(100%, rgba(0, 0, 0, 0.9)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(69, 72, 77, 0) 0%, rgba(34, 34, 34, 0.15) 15%, rgba(0, 0, 0, 0.9) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(69, 72, 77, 0) 0%, rgba(34, 34, 34, 0.15) 15%, rgba(0, 0, 0, 0.9) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(69, 72, 77, 0) 0%, rgba(34, 34, 34, 0.15) 15%, rgba(0, 0, 0, 0.9) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(69, 72, 77, 0) 0%, rgba(34, 34, 34, 0.15) 15%, rgba(0, 0, 0, 0.9) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0045484d', endColorstr='#00000000',GradientType=0 );
  /* IE6-9 */
  opacity: 0;
  -webkit-transition: opacity 4s linear;
  -moz-transition: opacity 4s linear;
  -ms-transition: opacity 4s linear;
  -o-transition: opacity 4s linear;
  transition: opacity 4s linear;
}
/* line 48, ../../app/assets/stylesheets/_home.scss */
.home-intro .banner .position {
  width: 500px;
  height: 20em;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -10em 0 0 -250px;
  z-index: 1;
}
/* line 58, ../../app/assets/stylesheets/_home.scss */
.home-intro .banner h1 {
  font-size: 60px;
  line-height: 1.3;
  width: 100%;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
  margin-top: -10px;
  white-space: nowrap;
  font-weight: bold;
}
/* line 68, ../../app/assets/stylesheets/_home.scss */
.home-intro .banner h2 {
  font-size: 32px;
  font-weight: normal;
  line-height: 1.3;
  width: 100%;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
  margin-top: 1em;
  white-space: nowrap;
}
/* line 77, ../../app/assets/stylesheets/_home.scss */
.home-intro .banner h2 span {
  opacity: 0;
  -webkit-transition: all .35s ease-in;
  -moz-transition: all .35s ease-in;
  -ms-transition: all .35s ease-in;
  -o-transition: all .35s ease-in;
  transition: all .35s ease-in;
}
/* line 87, ../../app/assets/stylesheets/_home.scss */
.home-intro .banner nav {
  position: absolute;
  z-index: 10;
  top: 1em;
  right: 1em;
}
/* line 93, ../../app/assets/stylesheets/_home.scss */
.home-intro .banner nav li {
  list-style: none;
}
/* line 96, ../../app/assets/stylesheets/_home.scss */
.home-intro .banner nav li a {
  color: #fff;
}
/* line 102, ../../app/assets/stylesheets/_home.scss */
.home-intro .banner .btn {
  position: absolute;
  bottom: 6em;
  left: 50%;
  width: 10em;
  margin: 1em 0 0 -5em;
  z-index: 1;
}

/* line 114, ../../app/assets/stylesheets/_home.scss */
.content-home {
  padding: 2em 0 0 0;
  max-width: 800px;
  margin: 0 auto;
  padding: 1em;
}
/* line 120, ../../app/assets/stylesheets/_home.scss */
.content-home a {
  color: #43ac74;
}
/* line 124, ../../app/assets/stylesheets/_home.scss */
.content-home ol {
  display: block;
  counter-reset: item;
  text-align: left;
}
/* line 129, ../../app/assets/stylesheets/_home.scss */
.content-home ol li {
  display: block;
  border-bottom: 2px solid #f3f3ed;
  position: relative;
  padding: 1em 0 1em 0;
}
/* line 135, ../../app/assets/stylesheets/_home.scss */
.content-home ol li .detail {
  padding: 0 0 0 3em;
}
/* line 139, ../../app/assets/stylesheets/_home.scss */
.content-home ol li h2 {
  font-size: 24px;
  line-height: 1em;
  text-transform: uppercase;
  color: #333;
  font-weight: 700;
}
/* line 147, ../../app/assets/stylesheets/_home.scss */
.content-home ol li p {
  font-size: 16px;
  line-height: 1.4em;
  color: #999;
  font-weight: 500;
  margin-top: 1em;
}
/* line 155, ../../app/assets/stylesheets/_home.scss */
.content-home ol li .download {
  font-size: 14px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  padding: .5em 0;
  color: #43ac74;
  text-decoration: none;
  display: inline-block;
  margin: 2em 0 .1em 0;
  padding: .5em .9em;
  z-index: 1;
  border: 3px solid #43ac74;
  font-weight: 700;
}
/* line 168, ../../app/assets/stylesheets/_home.scss */
.content-home ol li .download:hover {
  background-color: #43ac74;
  color: #f6f6f6;
}
/* line 173, ../../app/assets/stylesheets/_home.scss */
.content-home ol li .download svg {
  display: none;
}
/* line 179, ../../app/assets/stylesheets/_home.scss */
.content-home ol li:last-child {
  border: 0;
}

/* line 1, ../../app/assets/stylesheets/_login.scss */
.login {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  width: 280px;
  margin: 0 auto;
  background: #fff;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  padding: 20px;
  height: 305px;
  width: 280px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -150px 0 0 -140px;
}
/* line 19, ../../app/assets/stylesheets/_login.scss */
.login .button {
  font-family: "Helvetica Neue","Lucida Grande",sans-serif;
  text-decoration: none;
  color: #2E2E2E;
  font-size: 13px;
  font-weight: bold;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  box-shadow: none;
  border: 0;
  display: inline-block;
  margin: 0 0 0 5px;
  padding: 0 12px 0 20px;
  position: relative;
  left: -8px;
  line-height: 44px;
  height: 44px;
  background: url(../img/facebook-sprite.png) 0 -25px;
  outline: 0;
  white-space: nowrap;
}
/* line 41, ../../app/assets/stylesheets/_login.scss */
.login h3 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 14px;
}
/* line 47, ../../app/assets/stylesheets/_login.scss */
.login .fb {
  background: url(../img/facebook-sprite.png) 0 -25px;
  color: #FFF;
  width: 100%;
  padding-left: 55px;
  padding-right: 20px;
  text-align: center;
  text-shadow: 0 -1px 0 #38456F;
  margin-top: 20px;
  -webkit-font-smoothing: antialiased;
}
/* line 59, ../../app/assets/stylesheets/_login.scss */
.login .btn {
  width: 100%;
}

/* line 4, ../../app/assets/stylesheets/_requests.scss */
.new-request-form textarea {
  min-height: 250px;
}

/* line 9, ../../app/assets/stylesheets/_requests.scss */
.content-request {
  background: #fff;
  padding: 20px;
  margin: 40px;
}
