/* line 3, ../../app/assets/stylesheets/app.scss */
body {
  font-family: "freight-sans-pro";
  font-weight: book;
}

/* line 8, ../../app/assets/stylesheets/app.scss */
.sans {
  font-family: "freight-sans-pro";
  font-weight: light;
}

/* line 13, ../../app/assets/stylesheets/app.scss */
.grid-tile {
  background: #fff;
  padding: 25px;
  margin-bottom: 16px;
}

/* line 1, ../../app/assets/stylesheets/lib/_sidebar.scss */
.sidebar {
  background: #fff;
  width: 350px;
  float: left;
  position: absolute;
  left: 0;
  top: 50px;
  bottom: 0;
  overflow: auto;
  border-right: 1px solid #ccc;
}
/* line 12, ../../app/assets/stylesheets/lib/_sidebar.scss */
.sidebar .title {
  padding-left: 20px;
}

/* line 18, ../../app/assets/stylesheets/lib/_sidebar.scss */
.content-box {
  position: absolute;
  top: 50px;
  bottom: 0;
  left: 350px;
  right: 0;
  overflow: auto;
  padding: 20px;
}

/* line 1, ../../app/assets/stylesheets/lib/_full-bg.scss */
.full-bg-banner {
  position: relative;
  background-color: #333;
  text-align: center;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  min-height: 25em;
  background-image: url("../img/splash-2.jpg");
}
/* line 14, ../../app/assets/stylesheets/lib/_full-bg.scss */
.full-bg-banner .gradient {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  background: -moz-linear-gradient(top, rgba(69, 72, 77, 0) 0%, rgba(34, 34, 34, 0.15) 15%, rgba(0, 0, 0, 0.9) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(69, 72, 77, 0)), color-stop(15%, rgba(34, 34, 34, 0.15)), color-stop(100%, rgba(0, 0, 0, 0.9)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(69, 72, 77, 0) 0%, rgba(34, 34, 34, 0.15) 15%, rgba(0, 0, 0, 0.9) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(69, 72, 77, 0) 0%, rgba(34, 34, 34, 0.15) 15%, rgba(0, 0, 0, 0.9) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(69, 72, 77, 0) 0%, rgba(34, 34, 34, 0.15) 15%, rgba(0, 0, 0, 0.9) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(69, 72, 77, 0) 0%, rgba(34, 34, 34, 0.15) 15%, rgba(0, 0, 0, 0.9) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0045484d', endColorstr='#00000000',GradientType=0 );
  /* IE6-9 */
}
/* line 32, ../../app/assets/stylesheets/lib/_full-bg.scss */
.full-bg-banner .info {
  height: 400px;
  width: 295px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 20px;
  text-align: left;
}

/* line 4, ../../app/assets/stylesheets/_home.scss */
.home-intro .welcome,
.login .welcome {
  color: #F9F9F9;
}
/* line 8, ../../app/assets/stylesheets/_home.scss */
.home-intro .welcome h1,
.login .welcome h1 {
  font-size: 60px;
  line-height: 1.3;
  width: 100%;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
  margin-top: -10px;
  white-space: nowrap;
  font-weight: bold;
}
/* line 18, ../../app/assets/stylesheets/_home.scss */
.home-intro .welcome h2,
.login .welcome h2 {
  font-size: 32px;
  font-weight: normal;
  line-height: 1.3;
  width: 100%;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
  margin-top: 1em;
}
/* line 26, ../../app/assets/stylesheets/_home.scss */
.home-intro .welcome h2 span,
.login .welcome h2 span {
  opacity: 0;
  -webkit-transition: all .35s ease-in;
  -moz-transition: all .35s ease-in;
  -ms-transition: all .35s ease-in;
  -o-transition: all .35s ease-in;
  transition: all .35s ease-in;
}
/* line 36, ../../app/assets/stylesheets/_home.scss */
.home-intro .welcome nav,
.login .welcome nav {
  position: absolute;
  z-index: 10;
  top: 1em;
  right: 1em;
}
/* line 42, ../../app/assets/stylesheets/_home.scss */
.home-intro .welcome nav li,
.login .welcome nav li {
  list-style: none;
}
/* line 45, ../../app/assets/stylesheets/_home.scss */
.home-intro .welcome nav li a,
.login .welcome nav li a {
  color: #fff;
}
/* line 51, ../../app/assets/stylesheets/_home.scss */
.home-intro .welcome .info,
.login .welcome .info {
  text-align: center;
  width: auto;
  height: 350px;
  top: -80px;
}
/* line 58, ../../app/assets/stylesheets/_home.scss */
.home-intro .welcome .read-more-button,
.login .welcome .read-more-button {
  position: absolute;
  bottom: 40px;
  left: 50%;
  width: 10em;
  margin: 1em 0 0 -5em;
  z-index: 1;
}

/* line 69, ../../app/assets/stylesheets/_home.scss */
.content-home {
  padding: 25px;
  max-width: 600px;
  margin: 0 auto;
}
/* line 74, ../../app/assets/stylesheets/_home.scss */
.content-home ol {
  display: block;
  counter-reset: item;
  text-align: left;
  margin: 0;
  padding: 0;
}
/* line 81, ../../app/assets/stylesheets/_home.scss */
.content-home ol li {
  display: block;
  border-bottom: 2px solid #f3f3ed;
  position: relative;
  padding: 1em 0 1em 0;
}
/* line 87, ../../app/assets/stylesheets/_home.scss */
.content-home ol li h2 {
  font-size: 24px;
  line-height: 1em;
  text-transform: uppercase;
  color: #333;
  font-weight: light;
  font-family: "freight-sans-pro";
}
/* line 96, ../../app/assets/stylesheets/_home.scss */
.content-home ol li p {
  font-size: 16px;
  line-height: 1.4em;
  color: #999;
  font-weight: 500;
  margin-top: 1em;
}
/* line 106, ../../app/assets/stylesheets/_home.scss */
.content-home ol li:last-child {
  border: 0;
}

/* line 1, ../../app/assets/stylesheets/_login.scss */
.login .login-box {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  background: #fff;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  height: 85px;
  width: 295px;
}
/* line 9, ../../app/assets/stylesheets/_login.scss */
.login .login-box .button {
  font-family: "Helvetica Neue","Lucida Grande",sans-serif;
  text-decoration: none;
  color: #2E2E2E;
  font-size: 13px;
  font-weight: bold;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  box-shadow: none;
  border: 0;
  display: inline-block;
  padding: 0 12px 0 20px;
  position: relative;
  line-height: 44px;
  height: 44px;
  background: url(../img/facebook-sprite.png) 0 -25px;
  outline: 0;
  white-space: nowrap;
}
/* line 29, ../../app/assets/stylesheets/_login.scss */
.login .login-box h3 {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 20px;
  font-size: 14px;
  color: #333;
  display: none;
}
/* line 39, ../../app/assets/stylesheets/_login.scss */
.login .login-box .fb {
  background: url(../img/facebook-sprite.png) 0 -25px;
  color: #FFF;
  width: 100%;
  padding-left: 55px;
  padding-right: 20px;
  text-align: center;
  text-shadow: 0 -1px 0 #38456F;
  -webkit-font-smoothing: antialiased;
}
/* line 50, ../../app/assets/stylesheets/_login.scss */
.login .login-box .btn {
  width: 100%;
}
/* line 54, ../../app/assets/stylesheets/_login.scss */
.login .login-box form {
  display: none;
}

/* line 3, ../../app/assets/stylesheets/_requests.scss */
.new-request-form h3 {
  margin: 0 0 20px 0;
}
/* line 7, ../../app/assets/stylesheets/_requests.scss */
.new-request-form textarea {
  min-height: 250px;
}

/* line 12, ../../app/assets/stylesheets/_requests.scss */
.content-request {
  background: #fff;
  padding: 20px;
  margin: 40px;
}

/* line 19, ../../app/assets/stylesheets/_requests.scss */
.dashboard {
  height: 100%;
  background: none;
}
/* line 25, ../../app/assets/stylesheets/_requests.scss */
.dashboard .request-show {
  background: #fff;
  padding: 20px;
}
/* line 29, ../../app/assets/stylesheets/_requests.scss */
.dashboard .request-show > header {
  border-bottom: 1px dashed #000;
  margin-bottom: 30px;
  padding: 0 0 20px 0;
}
/* line 34, ../../app/assets/stylesheets/_requests.scss */
.dashboard .request-show > header h1 {
  margin: 0 0 10px 0;
}
/* line 41, ../../app/assets/stylesheets/_requests.scss */
.dashboard .request-show .comments ol {
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
}
/* line 47, ../../app/assets/stylesheets/_requests.scss */
.dashboard .request-show .comments li {
  padding: 20px;
  list-style: none;
  border-bottom: 1px dashed #ccc;
}

/* line 3, ../../app/assets/stylesheets/_soon.scss */
.content-soon .info {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  background: #fff;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  height: 250px;
  width: 600px;
}
/* line 11, ../../app/assets/stylesheets/_soon.scss */
.content-soon .info h2 {
  margin: 0;
  font-size: 24px;
  line-height: 1em;
  text-transform: uppercase;
  color: #333;
  font-weight: light;
  font-family: "freight-sans-pro";
}
/* line 21, ../../app/assets/stylesheets/_soon.scss */
.content-soon .info p {
  font-size: 16px;
  line-height: 1.4em;
  color: #999;
  font-weight: 500;
  margin-top: 1em;
}
