<header class="home-intro">
  <section class="banner">
    <nav>
      <ul>
        <li>
          <a href="/login">Login</a>
        </li>
      </ul>
    </nav>
    <span class="gradient"></span>
    <div class="position">
      <h1 class="sans">Helpmate</h1>
      <h2 class="sans">
        <span class="make">Personal assistants</span>
        <span class="publish">for</span>
        <span class="share">everyone.</span>
      </h2>
    </div>
    <a href="#content" class="btn btn-success btn-large">Get started</a>
  </section>
</header>

<div class="content content-home" id="content">
  <ol>
    <li>
      <div class="detail">
        <h2>Lorem ipsum dolor sit amet,</h2>
        <p>Gravida. Curabitur eget ad porttitor auctor faucibus commodo mollis. Convallis nam. Risus morbi suscipit. Integer mus amet duis enim eros eu consequat aenean mattis. Odio, pulvinar. Et diam platea nibh pharetra eros augue in Placerat malesuada sollicitudin varius.</p>
        <p>Accumsan. Platea. Rutrum ridiculus. Aliquam aptent aliquet orci natoque venenatis convallis velit sollicitudin phasellus luctus, libero id enim tincidunt Sapien primis ante proin leo inceptos dapibus vehicula Viverra eget. Id ridiculus pede rhoncus.</p>
      </div>
    </li>
    <li>
      <div class="detail">
        <h2>Lorem ipsum dolor sit amet,</h2>
        <p>Gravida. Curabitur eget ad porttitor auctor faucibus commodo mollis. Convallis nam. Risus morbi suscipit. Integer mus amet duis enim eros eu consequat aenean mattis. Odio, pulvinar. Et diam platea nibh pharetra eros augue in Placerat malesuada sollicitudin varius.</p>
        <p>Accumsan. Platea. Rutrum ridiculus. Aliquam aptent aliquet orci natoque venenatis convallis velit sollicitudin phasellus luctus, libero id enim tincidunt Sapien primis ante proin leo inceptos dapibus vehicula Viverra eget. Id ridiculus pede rhoncus.</p>
      </div>
    </li>
    <li>
      <div class="detail">
        <h2>Lorem ipsum dolor sit amet,</h2>
        <p>Gravida. Curabitur eget ad porttitor auctor faucibus commodo mollis. Convallis nam. Risus morbi suscipit. Integer mus amet duis enim eros eu consequat aenean mattis. Odio, pulvinar. Et diam platea nibh pharetra eros augue in Placerat malesuada sollicitudin varius.</p>
        <p>Accumsan. Platea. Rutrum ridiculus. Aliquam aptent aliquet orci natoque venenatis convallis velit sollicitudin phasellus luctus, libero id enim tincidunt Sapien primis ante proin leo inceptos dapibus vehicula Viverra eget. Id ridiculus pede rhoncus.</p>
      </div>
    </li>
  </ol>
</div>
