<header class="home-intro full-bg-banner">

  <section class="welcome">
    <span class="gradient"></span>
    <nav>
      <ul>
        <li>
          <a data-toggle="modal" data-target="#login-modal" class="btn btn-outline">Login</a>
        </li>
      </ul>
    </nav>

    <div class="info">
      <img src="/img/helpmate_logo.png" alt="Helpmate" width="139" height="165" />
      <h2 class="sans">
        <span class="make">Hvad ville du gøre med</span><br />
        <span class="publish">en ekstra time</span><br />
        <span class="share">om dagen?</span>
      </h2>
    </div>
    <a href="#content" class="btn btn-success read-more-button">Find ud af mere</a>
  </section>


</header>

<div class="content content-home" id="content">

  <section>
    <div>
      <h3>Fokusér på det der er vigtigt for dig</h3>

      <div class="col-md-6">
        <p>I dag har 40% af Københavns familier en rengøringshjælp. Det var for ganske få årtier siden en luksus for overklassen, men i dag er det allemandseje fordi det frigører vigtig tid.</p>
      </div>

      <div class="col-md-6">
        <p>Tænk hvis du kunne frigøre endnu mere tid, ved at udlicitere alle de andre opgaver du ikke har tid til at løse. Tænk på hvad du kunne bruge al den tid på.</p>
      </div>
    </div>
  </section>

  <section class="dark">
    <div>
      <h3>Bare send os en mail</h3>

      <div class="col-md-8">
        <p>Er din indbakke fyldt med ubesvarede mails? Bare videresend dem til Helpmate, så tager vi den derfra.</p>
        <p>Har du ingen mails at videresende, så kan du bare sende os en ren mail med din opgave. Så klarer vi også den.</p>
      </div>

      <div ass="col-md-4">

        <img height="250" width="188" src="/img/iphone.png" alt="Bare send os en mail" class="img-thumbnail">

      </div>
    </div>
  </section>

  <section>
    <div>
      <h3>Jeg tror ikke på jer. Hvad siger brugerne?</h3>

      <div class="col-md-6">
        <p>"Helpmate hjalp med at køre min bil tur/retur på værksted, så jeg kunne lege med min søn imens i stedet for at glo på værkstedet"<br />–Anders Pollas - Co-founder, Podio</p>
      </div>

      <div class="col-md-6">
        <p>"At være iværksætter og familiefar på samme tid er ikke nemt, men med Helpmate er det lidt nemmere"<br />–Christoffer Ritzau - Stifter, DNA</p>
      </div>
    </div>
  </section>

  <section class="dark">
    <div>
      <h3>Har I modtaget min opgave?</h3>

      <div class="col-md-8">
        <p>Er du i tvivl om din Helpmate har fået bestilt de der flybiletter til dig? Bare log ind på helpmate.dk og få et nemt overblik. Her kan du se status på alle dine opgaver og evt. besvare opklarende spørgsmål.</p>
      </div>

      <div class="col-md-4">
        <img height="150" width="279" src="/img/macbook.png" alt="Har I modtaget min opgave?" class="figure img-thumbnail">
      </div>
    </div>
  </section>

  <section>
    <div>
      <h3>En-to-tre-aaah</h3>

      <div class="col-md-4">
        <img height="200" width="200" src="http://placehold.it/200x200" alt="..." class="img-thumbnail">
        <p>1) Send os dine opgaver. Det kan være alt fra at booke tid hos frisøren til at scanne dine bilag.</p>
      </div>

      <div class="col-md-4">
        <img height="200" width="200" src="http://placehold.it/200x200" alt="..." class="img-thumbnail">
        <p>2) Følg status på at opgaverne bliver løst, hvis du gider, ellers kan du bare læne dig tilbage.</p>
      </div>

      <div class="col-md-4">
        <img height="200" width="200" src="http://placehold.it/200x200" alt="..." class="img-thumbnail">
        <p>3) Du får en mail når opgaven er løst og du kan nu ånde lettet op. Aaah.</p>
      </div>
    </div>
  </section>

  <section class="dark">
    <div>
      <h3>Hej, vi hedder Jacob og Kenneth</h3>

      <div class="col-md-8">
        <p>Vi har begge alt for travlt og har derfor bygget Helpmate til os selv. Vi håber du også kan få glæde af at frigive tid i din hverdag.</p>
        <p>Kenneth er software-udvikler hos den danske start-up Podio og ville hellere lege med sin espressomaskine end at hente pakker på posthuset.</p>
        <p>Jacob er iværksætter med forskellige virksomheder og ville hellere på legepladsen med sin søn end at scanne bilag ind i sit regnskabsprogram.</p>
      </div>

      <div class="col-md-4">
        <img height="200" width="200" src="/img/kenjac.jpg" alt="Kenneth og Jacob" class="figure img-thumbnail">
      </div>
    </div>
  </section>

  <section>
    <div>
      <h3>Vi er i beta</h3>

      <div class="col-md-6">
        <p>Vi bygger Helpmate i vores fritid og har ingen ekstern finansiering, det betyder at vi gerne vil vokse langsomt her i starten. Vi har derfor kun givet en mindre gruppe mennesker adgang til platformen for at sørge for at de altid kan få svar på deres opgaver.</p>
      </div>

      <div class="col-md-6">
        <p>Vi udvider løbende antallet af betabrugere og de betaler alle en fast månedlig pris for at være med. Vi er dog ikke sikre på at det er den rette måde at gøre det på og derfor kommunikerer vi ikke en pris før vi er sikre på hvad det skal koste.</p>
      </div>
    </div>
  </section>

</div>

<footer class="home-footer">
  <img class="logo" src="/img/logo_no_text.png" alt="Helpmate" width="140" height="126" />
  <h2 class="sans">Interesseret? Vi er snart klar.</h2>

  <form method="POST" action="/invites" class="form-inline invite-email-form">
    <input type="hidden" name="_csrf" value="{{csrf_token}}" />
    <div class="form-group">
      <input class="form-control form-control-outline input-email" type="email" name="email" placeholder="Din email addrese">
    </div>
    <input class="btn btn-outline input-submit" type="submit" value="Skriv mig op">
  </form>

  <div class="invite-success">
    <h3 class="sans">Tak! Du hører snart fra os...</h3>
  </div>
</footer>




<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="login-box">
        <a href="/auth/facebook" class="button fb">Log in with Facebook<span></span></a>
      </div>

    </div>
  </div>
</div>
