<header class="home-intro full-bg-banner">

  <section class="welcome">
    <span class="gradient"></span>
    <nav>
      <ul>
        <li>
          <a data-toggle="modal" data-target="#login-modal" class="btn btn-outline">Login</a>
        </li>
      </ul>
    </nav>

    <div class="info">
      <img src="/img/helpmate_logo.png" alt="Helpmate" width="139" height="165" />
      <h2 class="sans">
        <span class="make">Hvad ville du gøre med</span><br />
        <span class="publish">en ekstra time</span><br />
        <span class="share">om dagen?</span>
      </h2>
    </div>
    <a href="#content" class="btn btn-success read-more-button">Find ud af mere</a>
  </section>


</header>

<div class="content content-home" id="content">

  <section>
    <div>
      <h3>Fokusér det der er vigtigt for dig</h3>

      <div class="col-md-6">
        <p>I dag har 40% af Københavns familier en rengøringshjælp. Det var for ganske få årtier siden en luksus for overklassen, men i dag er det allemandseje fordi det frigører vigtig tid.</p>
      </div>

      <div class="col-md-6">
        <p>Tænk hvis du kunne frigøre endnu mere tid, ved atudlicitere alle de andre opgaver du ikke har tid til at løse. Tænk på hvad du kunne bruge al den tid på.</p>
      </div>
    </div>
  </section>

  <section class="dark">
    <div>
      <h3>Bare send os en mail</h3>

      <div class="col-md-8">
        <p>Har du en bunke mails i din indbakke du aldrig har fået svaret? Bare videresend dem til din Helpmate, så kigger han på dem og får klaret dem i en fart..</p>
      </div>

      <div class="col-md-4">
        <img height="200" width="200" src="..." alt="..." class="img-thumbnail">
      </div>
    </div>
  </section>

  <section>
    <div>
      <h3>Tag ikke vores ord for det</h3>

      <div class="col-md-6">
        <p>Testimonial fra bruger #1, måske Anders Pollas?</p>
      </div>

      <div class="col-md-6">
        <p>Testimonial fra bruger #2, måske Ritzau?</p>
      </div>
    </div>
  </section>

  <section class="dark">
    <div>
      <h3>Vi holder styr på dine opgaver for dig</h3>

      <div class="col-md-8">
        <p>Er du i tvivl om din Helpmate har fået bestilt de der flybiletter til næste uge til dig? Bare log ind på helpmate.dk og få det kølige overblik.</p>
      </div>

      <div class="col-md-4">
        <img height="200" width="200" src="..." alt="..." class="img-thumbnail">
      </div>
    </div>
  </section>

  <section>
    <div>
      <h3>En-to-tre-aaah</h3>

      <div class="col-md-4">
        <p>1) Send os dine opgaver. Alt fra at booke tid hos frisøren til at scanne dine bilag.</p>
      </div>

      <div class="col-md-4">
        <p>2) Følg status på at de bliver løst - hvis du gider. Ellers kan du bare læne dig tilbage.</p>
      </div>

      <div class="col-md-4">
        <p>3) Du får en mail når opgaven er løst og du kan nu ånde lettet op. Aaah</p>
      </div>
    </div>
  </section>

  <section class="dark">
    <div>
      <h3>Hej, vi hedder Jacob og Kenneth</h3>

      <div class="col-md-8">
        <p>Vi har begge alt for travlt og har bygget Helpmate til os selv. Vi håber du også kan få glæde af det</p>
      </div>

      <div class="col-md-4">
        <img height="200" width="200" src="..." alt="..." class="img-thumbnail">
      </div>
    </div>
  </section>

  <section>
    <div>
      <h3>Tag ikke vores ord for det</h3>

      <div class="col-md-6">
        <p>Testimonial fra bruger #1, måske Anders Pollas?</p>
      </div>

      <div class="col-md-6">
        <p>Testimonial fra bruger #2, måske Ritzau?</p>
      </div>
    </div>
  </section>

</div>

<footer class="home-footer">
  <img class="logo" src="/img/logo_no_text.png" alt="Helpmate" width="140" height="126" />
  <h2 class="sans">Interesseret? Vi er snart klar.</h2>

  <form method="POST" action="/invites" class="form-inline invite-email-form">
    <input type="hidden" name="_csrf" value="{{csrf_token}}" />
    <div class="form-group">
      <input class="form-control form-control-outline input-email" type="email" name="email" placeholder="Din email addrese">
    </div>
    <input class="btn btn-outline input-submit" type="submit" value="Skriv mig op">
  </form>

  <div class="invite-success">
    <h3 class="sans">Tak! Du hører snart fra os...</h3>
  </div>
</footer>




<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="login-box">
        <a href="/auth/facebook" class="button fb">Log in with Facebook<span></span></a>

        <h3>or</h3>

        <form action="/users/session" method="post">
          <fieldset>
            <div class="form-group">
              <input type="text" class="form-control" name="email" id="email" placeholder="Enter email">
            </div>
            <div class="form-group">
              <input type="password" class="form-control" name="password" id="password" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-success">Login</button>
          </fieldset>
        </form>

      </div>

    </div>
  </div>
</div>
