<section class="content-soon">

  <div class="full-bg-banner">
    <span class="gradient"></span>

    <div class="info">

      <h2>Vi er på vej!</h2>
      <img src="/img/time.png" class="pull-right" width="128" height="128" />

      <p>In odio velit, placerat vitae sapien a, pretium luctus lectus. Etiam non est sed neque tincidunt cursus. Sed non leo consequat, ornare lectus gravida, scelerisque justo. Aliquam et tincidunt dui, ac dictum neque. Integer id mauris ut nibh tempor sagittis. Quisque tincidunt vitae leo non accumsan. Suspendisse potenti. Quisque semper velit justo, id tincidunt lectus porta a. Phasellus et ante lobortis nunc iaculis facilisis.</p>

    </div>

  </div>

</section>
