
<div class="content-request dashboard">

  {{> requests/index}}

  <div class="content-box">

    <div class="request-show">

      <header>
        <h1>{{request.title}}</h1>
        <div class="meta">
          <small>{{request.createdAt}}</small>
        </div>
      </header>

      <div class='request-content'>
        <p>{{{nl2br request.content}}}</p>
      </div>

      <h3>Kommentarer</h3>

      <div class='comments'>
      {{#if request.comments.length}}
        <ol>
        {{#each request.comments}}
          <li>
            {{{nl2br body}}}
          </li>
        {{/each}}
        </ol>
      {{/if}}

      {{> comments/new}}

      </div>
    </div>
  </div>


</div>

