

<div class="requests-list">

  <h3 class="title">Dine opgaver</h3>

  {{#if requests.length}}
    <ol>
    {{#each requests}}
      <li>
        <a href="/request/{{id}}">
          {{title}}
        </a>
      </li>
    {{/each}}
    </ol>
  {{/if}}

</div>
