

<div class="requests-list sidebar">

  <h3 class="title">Your requests</h3>

  {{#if requests.length}}
    <div class="list-group">
    {{#each requests}}
      <a class="list-group-item" href="/request/{{id}}">
        <span class="llist-group-item-heading">{{title}}</span>
      </a>
    {{/each}}
    </div>
  {{/if}}

</div>
