.home-intro,
.login {

  .welcome {
    color: #F9F9F9;


    h1 {
      font-size: 60px;
      line-height:1.3;
      width:100%;
      text-shadow: 0 1px 0 rgba(0,0,0,.3);
      margin-top: -10px;
      white-space:nowrap;
      font-weight: bold;
    }

    h2{
      font-size: 32px;
      font-weight: normal;
      line-height:1.3;
      width:100%;
      text-shadow: 0 1px 0 rgba(0,0,0,.3);
      margin-top:1em;

      span {
        opacity: 0;
        -webkit-transition: all .35s ease-in;
        -moz-transition: all .35s ease-in;
        -ms-transition: all .35s ease-in;
        -o-transition: all .35s ease-in;
        transition: all .35s ease-in;
      }
    }

    nav {
      position: absolute;
      z-index: 10;
      top: 1em;
      right: 1em;

      li {
        list-style: none;

        a {
          color: #fff;
        }
      }
    }

    .info {
      text-align: center;
      width: 400px;
      height: 350px;
      top: -80px;
    }

    .read-more-button {
      position:absolute;
      bottom: 40px;
      left: 50%;
      width: 10em;
      margin: 1em 0 0 -5em;
      z-index: 1;
    }
  }
}

.content-home {
  padding: 25px;
  max-width: 600px;
  margin:0 auto;

  ol{
    display:block;
    counter-reset: item;
    text-align:left;
    margin:0;
    padding: 0;

    li{
      display:block;
      border-bottom:2px solid #f3f3ed;
      position:relative;
      padding: 1em 0 1em 0;

      h2{
        font-size: 24px;
        line-height:1em;
        text-transform:uppercase;
        color: #333;
        font-weight:light;
        font-family: "freight-sans-pro";
      }

      p{
        font-size: 16px;
        line-height:1.4em;
        color: #999;
        font-weight:500;
        margin-top:1em;
      }

    }

    li:last-child{
      border:0;
    }
  }
}
