.modal-dialog {
  width: 400px;
}

.login-box {
  background: #fff;

  width: 255px;
  margin: 40px auto;

  .button {
    font-family: "Helvetica Neue","Lucida Grande",sans-serif;
    text-decoration: none;
    color: #2E2E2E;
    font-size: 13px;
    font-weight: bold;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    box-shadow: none;
    border: 0;
    display: inline-block;
    padding: 0 12px 0 20px;

    position: relative;
    line-height: 44px;
    height: 44px;
    background: url(../img/facebook-sprite.png) 0 -25px;
    outline: 0;
    white-space: nowrap;
  }

  h3 {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 20px;
    font-size: 14px;
    color: #333;
  }

  .fb {
    background: url(../img/facebook-sprite.png) 0 -25px;
    color: #FFF;
    width: 100%;
    padding-left: 55px;
    padding-right: 20px;
    text-align: center;
    text-shadow: 0 -1px 0 #38456F;
    -webkit-font-smoothing: antialiased;
  }

  .btn {
    width: 100%;
  }

}
