.new-request-form {

  h3 {
    margin: 0 0 20px 0;
  }

  textarea {
    min-height: 250px;
  }
}

.content-request {
  background: #fff;
  padding: 20px;
  margin: 40px;
}


.dashboard {

  height: 100%;
  background: none;


  .request-show {
    background: #fff;
    padding: 20px;

    > header {
      border-bottom: 1px dashed #000;
      margin-bottom: 30px;
      padding: 0 0 20px 0;

      h1 {
        margin: 0 0 10px 0;
      }
    }

    .comments {

      ol {
        margin: 0;
        padding: 0;
        margin-bottom: 40px;
      }

      li {
        padding: 20px;
        list-style: none;
        border-bottom: 1px dashed #ccc;
      }
    }
  }



}
