@import "compass";

body {
  font-family: "freight-sans-pro";

  &.state-logged-in {
    overflow: hidden;
  }
}

@import "lib/bootstrap";
@import "lib/bootstrap-glyphicons";

.grid-tile {
  background: #fff;
  padding: 25px;
  margin-bottom: 16px;
}

.navbar {
  margin-bottom: 0;
}

.btn {
  font-weight: normal;
}

.img-rounded {
  margin: 20px 0;
}

// lib
@import "lib/sidebar";
@import "lib/navigation";
@import "lib/full-bg";

// pages

@import "content";
@import "home";
@import "login";
@import "requests";
@import "settings";
@import "soon";




