@import "compass";

body {
  font-family: "freight-sans-pro";
  font-weight:book;
}

.sans {
  font-family: "freight-sans-pro";
  font-weight:light;
}

.grid-tile {
  background: #fff;
  padding: 25px;
  margin-bottom: 16px;
}

// lib
@import "lib/sidebar";
@import "lib/full-bg";

// pages

@import "content";
@import "home";
@import "login";
@import "requests";
@import "settings";
@import "soon";




