  <div class="sidebar">

    <div class="list-group">
      <a class="list-group-item" href="/settings/">Account</a>
      <a class="list-group-item" href="/settings/subscription">Subscription</a>
      <a class="list-group-item" href="/settings/billing">Billing</a>
      <a class="list-group-item" href="/settings/preferences">Preferences</a>
    </div>


  </div>
